<% stylesheet 'calendar' %>
<% javascript 'calendar' %>
<% title 'Calendar' %>

<%= link_to_remote 'Create new event', {
      :url => new_event_path,
      :method => :get,
      :update => 'event_form',
      :complete => "$$('.panel.form .header')[0].update('New Event'); new Effect.Highlight('event_form')"
    }, :class => 'button' %>
<%= link_to 'Upload files', new_upload_path, :class => 'lbOn button' %>
<br/><br/>

<div id="flash_notice" <%= 'style="display:none;"' if flash[:notice].blank? %> onclick="this.hide();"><%= flash[:notice] %></div>
<div id="flash_error" <%= 'style="display:none;"' if flash[:error].blank? %> onclick="this.hide();"><%= flash[:error] %></div>
<div class="panel calendar">
  <div class="header">
    Calendar
  </div>
  <div class="content">
    <%= render :partial => 'day', :collection => @days %>
  </div>
</div>

<div class="panel form">
  <div class="header">
    New Event
  </div>
  <div class="content" id="event_form">
    <%= render :partial => "events/form" %>
  </div>
</div>

<div class="panel files">
  <div class="header">
    Files
  </div>
  <div class="content" id="uploads">
    <%= render @uploads %>
  </div>
</div>

<script>
  showDay('<%= @start_time.strftime("%m-%d-%Y") %>');
</script>