<style><!--
.panel {
  width: 300px;
  overflow: auto;
  border: 1px solid black;
  float: left;
  margin-right: 10px;
  font-size: 10px;
}
.panel .header {
  background-color: #BBBBBB;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  border-bottom: 1px solid black;
  padding-top: 5px;
  font-size: 14px;
}
.panel .content {
  height:502px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #E7F3FA;
  padding: 5px;
}
.day .content {
  padding: 0px;
  height: 512px;
}
.hour {
  width:30px;
  height:31px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  background: #AAAAAA;
  font-size: 10px;
  
}
.half {
  height:15px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  font-size: 10px;
}
.upload {
  height: 32px;
  margin: 5px;
  border: 1px solid #A69553;
  background-color: #FFF8DC;
  background-repeat: no-repeat;
  background-image: url(/images/mimetypes/all.jpg);
  background-position: 5px 7px;
  padding-left: 48px;
  padding-top: 16px;
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
}
.upload.jpg, .upload.gif, .upload.png {
  background-image: url(/images/mimetypes/jpg.jpg);
}
.upload.doc {
  background-image: url(/images/mimetypes/doc.jpg);
}
.upload.html {
  background-image: url(/images/mimetypes/html.jpg);
}
.upload.pdf {
  background-image: url(/images/mimetypes/pdf.jpg);
}
.upload.avi {
  background-image: url(/images/mimetypes/avi.jpg);
}
.upload.tgz, .upload.zip, .upload.rar{
  background-image: url(/images/mimetypes/tgz.jpg);
}
.upload a {
  color: black;
}
a.button {
  background-color: #54B9DE;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 7px;
  border: 2px solid #4290AD;
}
a.button:hover {
  background-color: #429CBD;
}
--></style>

<% title "Calendar" %>

<%= link_to_function 'Create new event', '', :class => 'button' %>
<%= link_to 'Upload files', new_upload_path, :class => 'lbOn button' %>
<br/><br/>

<div class="panel day">
  <div class="header">
    Calendar
  </div>
  <div class="content">
    <div style="float:left;">
      <% for hour in 0..23 do %>
        <div class="hour">
          <%= sprintf "%02d", hour %>:00
        </div>
      <% end %>
    </div>
    <div>
      <% for hour in 0..23 do %>
        <div class="half">
        </div>
        <div class="half">
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="panel form">
  <div class="header">
    Edit Event
  </div>
  <div class="content">
    <% @event = Event.new %>
    <%= render :partial => "events/form" %>
  </div>
</div>

<div class="panel files">
  <div class="header">
    Files
  </div>
  <div class="content" id="uploads">
    <%= render @uploads %>
  </div>
</div>
