<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || 'Untitled') %></title>
    <%= stylesheet_link_tag 'application', '/lightbox/css/lightbox', 'calendar', :cache => true %>
    <%= javascript_include_tag 'prototype', 'scriptaculous', 'dragdrop', 'calendar', '/lightbox/scripts/lightbox', :cache => true %>
    <%= calendar_date_select_includes 'default' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
